* 


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
  }
  .checkout {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
  }
  .checkout__left {
    flex: 0.7;
  }
  
  .checkout__ad {
    width: 70%;
    margin-bottom: 20px;
    border-radius: 4px;
  
  }
  .checkout__right {
    flex: 0.3;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .checkout__right h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .checkout__right p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .checkout__right span {
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .checkout {
        flex-direction: column;
    }
  
    .checkout__left, .checkout__right {
        flex: 1;
    }
  }
  p, h2, span {
    color: #333;
  }
  
  a {
    color: #0066c0;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff9900;
  }