.home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden; /* เพิ่ม overflow: hidden เพื่อป้องกันการแสดงขอบภาพของภาพพื้นหลัง */
}

.home_row {
  display: flex;
  justify-content: space-between; /* ใช้ justify-content: space-between เพื่อให้ระยะห่างระหว่างสินค้าเท่ากัน */
  margin: 0 5px; /* ลบ margin-left และ margin-right แล้วใช้ margin แทน */
  flex-wrap: wrap; /* เพิ่ม flex-wrap: wrap เพื่อให้สินค้าเรียงตัวลงมาเมื่อมีขนาดหน้าจอแคบ */
}

.home_image {
  width: 100%;
  margin-bottom: -16px;
 
  image-rendering: crisp-edges; /* เพิ่มคุณสมบัตินี้เพื่อชัดเจนภาพ */
}


/* ปรับลักษณะของสินค้า */
.product {
  flex: 1 0 calc(33.33% - 10px); /* ให้สินค้าเป็น 1/3 ของความกว้างของพื้นที่ทั้งหมดและลดขอบรอบลง 5px */
  margin: 10px; /* เพิ่ม margin 10px รอบสินค้า */
  background-color: #fff; /* เพิ่มพื้นหลังสีขาว */
  padding: 20px; /* เพิ่ม padding 20px */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
  border-radius: 8px; /* เพิ่มขอบโค้ง */
}

.product__info {
  height: 100px; /* ปรับความสูงของข้อมูลสินค้า */
  overflow: hidden; /* ป้องกันการเท้าเอาข้อมูล */
}