
  /* main part  */
  
  
*


.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
  font-family: 'Arial', sans-serif; /* เลือกฟอนต์ที่คุณชอบ */
}

.order__id {
  position: absolute;
  top: 20px; /* เลื่อนขึ้นเล็กน้อย */
  right: 20px;
  font-size: 14px; /* ลดขนาดข้อความ */
  color: #555; /* เปลี่ยนสีข้อความ */
}

.order__total {
  font-weight: 500;
  text-align: right;
  margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
}

    